<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410762362432-vhj1ksvi99lpjtv17h2a24fh71uidef7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410762362432-vhj1ksvi99lpjtv17h2a24fh71uidef7</string>
	<key>API_KEY</key>
	<string>AIzaSyAX5OEsz45H1d_njs5w8v0xjMnYGkJjXXk</string>
	<key>GCM_SENDER_ID</key>
	<string>410762362432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter-blogs-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-blogs-app-9d8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-blogs-app-9d8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410762362432:ios:44352144f5b296518da9a5</string>
</dict>
</plist>